<%= form_for :calculator, url: { action: :create }, format: :json do |f|   %>
  <%= f.text_field :operation %>
  <%= f.submit 'Calculate!' %>
<% end %>

<% unless @result.nil? %>
  <p> Result = <%= @result %> </p>
<% end %>